body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
button{
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 320px;
    padding : 0 16px;
    margin: 0 auto;
    
}
@media screen and (min-width:768px){
    .container{
        max-width: 768px;
    }

}
@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

/*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-nav-list, .page-address{
    display: none;
}
.accent {
    color: #2e2f42;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 16px 0;
    display: block;
}
.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
    
}
.burger-icon{
    display: block;
}

@media screen and (min-width:768px) {
    .burger-btn{
        display: none;
    }

    .link-logo{
        padding: 24px 0;
        margin-right: 120px;
    }
        .site-nav-list {
            display: flex;
            gap: 40px;
            
        }
        .page-address{
            display: block;
        }
        .site-nav {
            display: flex;
            align-items: center;
        }
      
    .site-nav .header-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: 250ms ease-in-out;
       
    }

    .site-nav .link:hover {
        color: #404bbf;
    }
    .site-nav .link:active,
    .site-nav .link:focus {
        color: #404bbf;
    }
    .page-header .studio {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .other {
        color: #2e2f42;
    }
    .page-header .studio::after {
        position: absolute;
        display: block;
        content: "";
        border: 2px solid #404bbf;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        bottom: -23px;
        background-color: #404bbf;
    }
    .site-address  .link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .page-address .link:hover {
        color: #404bbf;
    }
    .page-address .link:active,
    .page-address .link:focus {
        color: #404bbf;  
     }
    
        
.site-address{
        display: flex;
        flex-direction: column;
        gap: 12px;
    
}


}   

    
@media screen and (min-width:1158px) {
    .link-logo {
            margin-right: 76px;
}
.site-address {
    flex-direction: row;
    gap: 40px;

}
.site-address .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}    
.page-features .box-features {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: start;
  
}

.botom .text {
    max-width: 264px;
}

.text-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.mobile-menu-item {
    width: 40px;
    height: 40px;
}

.mobile-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.botom .text {
    max-width: 264px;
}

.text-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-item {
    width: 40px;
    height: 40px;
}

.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-site-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-link:hover,
.mobile-link:focus,
.mobile-link:active{
    color: #404bbf;
}
.mobile-site-nav{
    margin-bottom: auto;
}
.mobile-menu-list{
    margin-top: 48px;
}
.mobile-site-address{
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-top: 168px;
}
.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f2f2f7;
    border: 1px solid rgba(220, 214, 214, 0.817);
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.mobile-link{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color:#2e2f42;
}
.mobile-menu-list{
    display: flex;
    gap: 40px;
    
    
}
.mobile-menu-item{
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-item:hover,
.mobile-menu-item:focus{
    background-color: #404bbf;
}
.mobile-adress-item .link{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
        
}
.mobile-adress-item .link:hover,
.mobile-adress-item .link:focus{
    color: #404bbf;
}
.page-header .mobile-menu-container{
    align-items: flex-start;
}
                     
@media screen and (min-width:768px){
    .mobile-menu{
        display: none;
    }
}
@media screen and (min-width:1158px) {
    .mobile-menu {
        display: none;
    }
    
}

/*hero-baner*/

.hero-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        padding: 0;
        max-width: 216px;
        
            margin: 0 auto 72px auto;
}

.page-solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-mobile-x1.jpg);
    max-width:  320px;
    background-size: cover;
    background-position: center;
    padding: 72px 0;
}
@media  (min-resolution:192dpi) {
    .page-solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-mobile-x2.jpg);
    }
}
.button-service {
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: white;
    background-color: #4d5ae5;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.page-solutions .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-service:hover,
.button-service:focus {
    background-color: #404bbf;
}
@media screen and (min-width:768px){
    .page-solutions {
        background-color: #2E2F42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/bg-tablet-x1.jpg);
          max-width:768px;  
          padding: 112px 0;
          margin-left: auto;
          margin-right: auto;
           
             
        }
                 @media (min-resolution:192dpi) {
                    .page-solutions {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                            url(../images/bg-tablet-x2.jpg);
                    }
                }
        .hero-title{
            max-width: 496px;
            font-weight: 700;
            font-size: 56px;   
            line-height: 1.07;
            letter-spacing: 0.02em;
            margin-bottom: 36px;
             
            
            color: white;
                    
        }
}



@media screen and (min-width:1158px) {
    .page-solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/img-background-desctop-x1.jpg);
            background-repeat: no-repeat;
                max-width: 1440px;
                background-size: cover;
                padding: 188px 0;

    }
        .hero-title {
            margin-bottom: 48px;
        }
                @media (min-resolution: 192dpi) {
                    .page-solutions {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                            url(../images/img-background-desctop-x2.jpg);
                    }
                }
        
          
    
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.box-features{
    display: none;
}

.page-features{
    padding: 96px 0;
}
.features-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
.features-list-item .title{
    
    margin-bottom: 8px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.features-list-item .text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*team*/
.box-team {
    padding: 32px 0;
}

.team-list-social {

    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    fill: #4d5ae5;
    transition: 250ms ease-in-out;

}

.team-list-social-item {
    width: 40px;
    height: 40px;
}

.team-link-social {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.team-link-social:hover {
    background-color: #404bbf;
}

.team-link-social:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.page-team {
    background-color: #f4f4fd;
}

.team-list .punkt-team {
    background-color: #FFFFFF;
}

.title-team {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;

}

.page-team .title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-team .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-team {
    padding: 96px 0;

}

.punkt-team {

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;


}
.page-team .container{
    padding-left: 28px;
    padding-right: 28px;
}

.box-title-text {
    padding: 32px 0;
}

.box-title-text .title {
    text-align: center;
    margin-bottom: 8px;
}

.box-title-text .text {
    text-align: center;
    margin-bottom: 8px;
}



@media screen and (min-width:768px){
    .features-list{
        display: flex;
        flex-direction: row; 
        gap: 72px 24px;
        flex-wrap: wrap; 
        
    }
        .features-list-item .title{
            text-align: start;      
        }

    .features-list-item {
            width: calc((100% - 24px) / 2);
         }  
                 .box-team {
                     padding: 32px 0;
                 }
        
                 .team-list-social {
                   
                     display: flex;
                     gap: 24px;
                     justify-content: center;
                     align-items: center;
                     fill: #4d5ae5;
                     transition: 250ms ease-in-out;
        
                 }
      
                 .page-team {
                     padding: 96px 0;
                  
                 }
        
                
        
                 .team-list {
                     display: flex;
                     flex-direction: row;
                     gap: 64px 24px;
                     flex-wrap: wrap;
                     justify-content: center;
                   
                 }
        

}
@media screen and (min-width:1158px) {
    .features-list {
        display: flex;
            gap: 24px;
            justify-content: center;
    }

    .features-list-item {
        width: calc((100% - 72px) / 4);
    }
        .features-list-item .title {
            text-align: start;
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                
        }
        .box-team {
            padding: 32px 0;
        }
    
        .team-list-social {
            display: flex;
            gap: 24px;
            justify-content: center;
            align-items: center;
            fill: #4d5ae5;
            transition: 250ms ease-in-out;
    
        }
    
        .team-list-social-item {
            width: 40px;
            height: 40px;
        }
    
        .team-link-social {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        }
    
       
                .page-team {
                    padding: 120px 0;
                    margin: 0;
                }
        
                .punkt-team {
                    width: calc((100% - 72px) / 4);
                    border-radius: 0px 0px 4px 4px;
                    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
                }
        
                .team-list {
                    display: flex;
                    gap: 24px;
                    padding-left: 0;
                    margin: 0;       

            }
                        .box-title-text {
                            padding: 32px 0;
                        }
            
                        .box-title-text .title {
                            text-align: center;
                            margin-bottom: 8px;
                        }
            
                        .box-title-text .text {
                            text-align: center;
                            margin-bottom: 8px;           }

                        

}
/*portfolio*/

.title-portfolio {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.page-portfolio .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-portfolio .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-box-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-box-title-text .title {
    margin-bottom: 8px;
}

.page-portfolio {
    padding: 96px 0;
}

.title-portfolio {

    margin-bottom: 72px;
}

.portfolio-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: white;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .text-overlay {

    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px ;
    
    background-color: #FFFFFF;

}

.box-img-portfolio {
    position: relative;
    overflow: hidden;
}
.text-overlay {
    position: absolute;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width:768px) {
    .title-portfolio {
            text-transform: capitalize;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
        }
    
    
        .page-portfolio .title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
    
        .page-portfolio .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
    
        .portfolio-box-title-text {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
    
        }
    
        .portfolio-box-title-text .title {
            margin-bottom: 8px;
        }
    
        .page-portfolio {
            padding: 115px 0 77px 0;
        }
    
        .title-portfolio {
    
            margin-bottom: 72px;
        }
    
      
    
        .portfolio-item:hover .text-overlay {
            
    
            transform: translateY(0%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
    
            background-color: #FFFFFF;
    
        }
            .portfolio-item {
                    width: calc((100% - 24px) / 2);
                    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                        background: white;
                    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);       }
    
        .box-img-portfolio {
            position: relative;
            overflow: hidden;
        }
    
        .text-overlay {
            position: absolute;
            padding: 40px 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            background-color: #4d5ae5;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .portfolio-item:hover {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }
    
}
@media screen and (min-width:1158px){
    
    
        .portfolio-box-title-text .title {
            margin-bottom: 8px;
        }
    
        .page-portfolio {
            padding: 120px 0;
        }
    
    
        .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            gap:  48px 24px;
    
            background-color: #FFFFFF;
    
        }
                .portfolio-item {
                    width: calc((100% - 48px) / 3);
                    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);      
                 }
    
     
}

/*footer*/
.botom {
    padding: 96px 0;
}
.botom .container{
    display: flex;
   flex-wrap: wrap;
   ;
}

.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;

}
.botom .text {
    max-width: 264px;
}

.text-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-item {
    width: 40px;
    height: 40px;
}

.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd;
}

.box-botom .link-logo-foter {
    display: flex;
    justify-content: center;
        margin-bottom: 16px;

}
.box-botom{
    margin-bottom: 72px;
    
}


.box-footer{
    display: flex;
   flex-wrap: wrap;
    margin-bottom: 72px;
    justify-content: center;
  
}
.footer-box-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}



.botom ul {
    padding-left: 0;
    margin: 0;
}
.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}





.footer-form-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
}

input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.footer-icon {
    margin-left: 16px;
}
.botom {
    
    background-color: #2e2f42;
}

.link-logo-foter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.botom .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.accent-logo-footer {
    color: #f4f4fd;

}
@media screen and (min-width:768px){
    .botom .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 108px;
            gap: 0 24px;
}
.box-botom .link-logo-foter,
 .text-social-media, .footer-form-text{
    display: flex;
    justify-content: flex-start;
  
}
 .footer-form-input{
    width: 264px;
    
    
}
.box-footer{
    flex-direction: column;
    justify-content: flex-start;
}
.footer-box-form{
    flex-direction: column;
}
.footer-form{
    display: flex;
    gap: 24px;
    
}
}

@media screen and (min-width:1158px) {
    .botom {
            padding: 100px 0;
        }
    .botom .container {
        padding: 0 15px;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 0;
            flex-wrap: nowrap;
            margin: 0 auto;
    
        }
              
                .botom .text {
                    max-width: 264px;      
                 }
        .box-footer{
            margin-right: 80px;
            margin-bottom: 0;
        }
    
        .box-botom {
            margin-right: 120px;
            margin-bottom: 0;
        }
}

/*modal*/


.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 288px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-btn-close:hover,
.modal-form-btn-close:focus {
    background-color: #404bbf;
    border: none;
    background-color: #404bbf;
    border: none;


}

.overlay-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn-close:hover,
.modal-form-btn-close:focus {
    fill: #ffffff;
    fill: #ffffff;

}

.overlay-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;

}

.modal-box {
    margin-bottom: 8px;
    position: relative;
}

.modal-box-input-icon {
    position: relative;

}

.modal-check {
    margin-bottom: 24px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
}

.last {
    margin-bottom: 0;
}

.modal-box-last {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    margin-bottom: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
    border-color: #4D5AE5;
}


.modal-box-input-icon:focus-within {
    fill: #4D5AE5;
}

.policy-accent {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
    
}

.modal-check input:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-form-btn-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn-send:hover,
.modal-form-btn-send:focus {
    background-color: #404bbf;
}

.modal-checkbox {
    margin-bottom: 24px;
    
}

.privacy {
    margin-bottom: 0;
}

.overlay-frm {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px){
    .modal{
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}
@media screen and (min-width:1158px) {
    .modal {
            width: 408px;
            padding: 72px 24px 24px 24px;
        }
    }




